/* navbar.module.css */
.navItems {
  display: none;
}

.dropdownMenu {
  display: block;
}

@media (min-width: 979px) {
  .navItems {
    display: flex;
  }
  .dropdownMenu {
    display: none;
  }
}
